spring.redis.lettuce.pool.max-active=50
spring.redis.lettuce.pool.max-idle=50
spring.redis.lettuce.pool.max-wait=5000
spring.redis.host=change-to-redis-server-host
spring.redis.port=change-to-redis-server-port
spring.redis.timeout=5000
spring.redis.database=0